In [3]:
import numpy as np
import pandas as pd 
import scipy.sparse
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.stem.snowball import SnowballStemmer
from nltk.tokenize import RegexpTokenizer
from nltk.tokenize import word_tokenize

## Using this CSV from Kaggle

In [4]:
# todo: double check ids match with our dataset
review_df = pd.read_csv('yelp-dataset/yelp_review.csv')
business_df = pd.read_csv('yelp-dataset/yelp_business.csv')
# business_df.head()

## Limit to Arizona Restaurants

In [5]:
arizona_business_df = business_df[business_df['state'] == 'AZ']
arizona_rest_df = arizona_business_df[arizona_business_df['categories'].str.contains("Restaurant")]
# arizona_rest_df.head()

## Concatenate all reviews for each restaurant

In [6]:
az_review_df = pd.merge(arizona_rest_df, review_df, how = 'inner', left_on='business_id', right_on='business_id')
review_grouped = az_review_df.groupby('business_id')['text'].apply(' '.join).reset_index()

## Add business names to dataframe

In [22]:
name_df = arizona_rest_df[['business_id', 'name']]
review_with_names = pd.merge(review_grouped, name_df, how = 'inner', left_on='business_id', right_on='business_id')
# review_with_names.head()

In [23]:
snowball = SnowballStemmer('english')
tokenizer = RegexpTokenizer(r'[a-zA-Z\']+')

def tokenize(text):
    return [snowball.stem(word) for word in tokenizer.tokenize(text.lower())]

In [24]:
def vectorize_reviews(reviews):
    vectorizer = TfidfVectorizer(stop_words = 'english', tokenizer = tokenize) #,  max_features = 1000)
    tfidf_matrix = vectorizer.fit_transform(reviews)
    words = vectorizer.get_feature_names()
    return tfidf_matrix, words

In [240]:
def get_indices(cosine_similarity):
    res = np.argsort(cosine_similarity).flatten()
    return res[::-1][:10]

In [38]:
from sklearn.metrics.pairwise import cosine_similarity

def cosine_similarities(vector, tfidf_m):
    return cosine_similarity(vector, tfidf_matrix)

In [27]:
def get_recommendations(indices):
    arr = []
    for i in indices:
        df = reviews_index[reviews_index['index'] == i]
        arr.append(df[['business_id', 'name']].values)
    
    return arr

## Example: Use only 100 businesses

In [50]:
small = review_grouped[:100] # tiny dataset
small = small.reset_index()
# create mapping from business id to index in tfidf_matrix
#matrix_dict = dict(zip(small.business_id, small.index)) 
tfidf_matrix, words = vectorize_reviews(small['text'])
#scipy.sparse.save_npz('tfidf_matrix_dummy.npz', tfidf_matrix) # uncomment to save tfidf

## Map tfidf index with business_id

In [59]:
reviews_index = pd.merge(review_with_names, small[['business_id', 'index']], how = 'inner', left_on='business_id', right_on='business_id')
index_table = reviews_index[['index', 'business_id']]
reviews_index.head()

,business_id,text,name,index
0,--g-a85VwrdZJNf0R95GcQ,"My Daughter, grandsons and I were looking for ...","""Kabab House""",0
1,-01XupAWZEXbdNbxNg5mEg,Horrible! Had the happy hour nachos. The che...,"""18 Degrees Neighborhood Grill""",1
2,-050d_XIor1NpCuWkbIVaQ,So until today I didn't know there was a lot o...,"""Matt's Big Breakfast""",2
3,-092wE7j5HZOogMLAh40zA,The food here is kinda mediocre. Not horrible ...,"""Wong's Jr""",3
4,-0Sgh0QlUKVsWosCWJzGqQ,Despite the doubts you may have about Domino's...,"""Domino's Pizza""",4

## Save Business-Index Mapping as SQL table

In [35]:
import mysql.connector
from sqlalchemy import create_engine
# Uncomment to save to a table
#engine = create_engine('mysql+mysqlconnector://root:poloisbae@localhost/yelp_db', echo=False)
#index_table.to_sql(name='business_index', con=engine)

## All Cosine Similarities

In [93]:
cos_sim = cosine_similarities(tfidf_matrix, tfidf_matrix)

## Grill Recommendation

In [241]:
grill = cosine_similarities(tfidf_matrix[1:2], tfidf_matrix)
grill_indices = get_indices(grill)
print get_recommendations(grill_indices)

[array([['-01XupAWZEXbdNbxNg5mEg', '"18 Degrees Neighborhood Grill"']], dtype=object), array([['-JwSuDqyFILFJmVpjrVbwA', '"Half Moon Sports Grill"']], dtype=object), array([['-Ht7HiGBox8lS1Y8IPjO8g', '"Switch Restaurant & Wine Bar"']], dtype=object), array([['-RN70NJDP02wVcrg5yPO8Q', '"The Hangar Food and Spirits"']], dtype=object), array([['-0WegMt6Cy966qlDKhu6jA', '"Game Seven Grill"']], dtype=object), array([['-RYIKWBSTaJ21B2UMyzI-Q', '"Mellow Mushroom"']], dtype=object), array([['-MKWJZnMjSit406AUKf7Pg',
        '"Barrelhouse American Kitchen & Cocktails"']], dtype=object), array([['-BxWyEIQ6wypT-37MzZizQ', '"Carly\'s Bistro"']], dtype=object), array([['-4TMQnQJW1yd6NqGRDvAeA', '"The House Brasserie"']], dtype=object), array([['-MuatiMmslPOvk9kOMyjkA', '"Charleston\'s"']], dtype=object)]

## Breakfast Recommendation

In [242]:
breakfast = cosine_similarities(tfidf_matrix[2:3], tfidf_matrix)
breakfast_indices = get_indices(breakfast)
print get_recommendations(breakfast_indices)

[array([['-050d_XIor1NpCuWkbIVaQ', '"Matt\'s Big Breakfast"']], dtype=object), array([['-FLnsWAa4AGEW4NgE8Fqew', '"Breakfast Club- Scottsdale"']], dtype=object), array([['-1UMR00eXtwaeh59pEiDjA', '"Matt\'s Big Breakfast"']], dtype=object), array([['-Ht7HiGBox8lS1Y8IPjO8g', '"Switch Restaurant & Wine Bar"']], dtype=object), array([['-DaXLvd3M8OACEEuNR-BDQ', '"5 & Diner"']], dtype=object), array([['-Y9woV5m-KaTzu9VpirYyg', '"Sapna Caf\xc3\xa9"']], dtype=object), array([['-79cl_yASWXiv7RmzirNxA', '"Village Inn"']], dtype=object), array([['-Bdw-5H5C4AYSMGnAvmnzw', '"Tuck Shop"']], dtype=object), array([['-JzL9Xkx42k82uKSy3X5Zw', '"Gabriela\'s Kitchen"']], dtype=object), array([['-4TMQnQJW1yd6NqGRDvAeA', '"The House Brasserie"']], dtype=object)]

In [244]:
tfidf = scipy.sparse.load_npz('./data/tfidf_matrix_everything.npz')

## Export TFIDF, Cosine Similarities, and Index Mappings to SQL

In [238]:
from sqlalchemy import MetaData, Table
from sqlalchemy.sql import text
import mysql.connector
from sqlalchemy import create_engine

## this assumes the tables already exist, use these creates via command line:

# CREATE TABLE business_tfidf (business_id varchar(22) NOT NULL,  tfidf LONGBLOB, PRIMARY KEY (business_id), FOREIGN KEY (business_id) REFERENCES business(id));

# CREATE TABLE business_cosine (business_id varchar(22) NOT NULL,  cosine MEDIUMBLOB, PRIMARY KEY (business_id), FOREIGN KEY (business_id) REFERENCES business(id));
 
# CREATE TABLE business_index (business_id varchar(22) NOT NULL,  m_index int(11), PRIMARY KEY (business_id), FOREIGN KEY (business_id) REFERENCES business(id));

engine = create_engine('mysql+mysqlconnector://root:poloisbae@localhost/yelp_db', echo=False)
conn = engine.connect()
trans = conn.begin()
i = 0
for row in cos_sim:
    business_id = index_table.iloc[i]['business_id']
    index = str(int(index_table.iloc[i]['index']))
    cos_blob = row.dumps()
    tfidf_blob = tfidf_matrix[i].todense().dumps()
        
    t = {"business_id": str(business_id), "m_index": index}
    conn.execute(text("insert into business_index (business_id, m_index) "+
           "values (:business_id, :m_index)"), **t)

    t = {"business_id": str(business_id), "blob": cos_blob}
    conn.execute(text("insert into business_cosine (business_id, cosine) "+
           "values (:business_id, :blob)"), **t)
        
    t = {"business_id": str(business_id), "blob": tfidf_blob}
    conn.execute(text("insert into business_tfidf (business_id, tfidf) "+
               "values (:business_id, :blob)"), **t)

    i += 1
trans.commit()
conn.close()

--g-a85VwrdZJNf0R95GcQ
-01XupAWZEXbdNbxNg5mEg
-050d_XIor1NpCuWkbIVaQ
-092wE7j5HZOogMLAh40zA
-0Sgh0QlUKVsWosCWJzGqQ
-0WegMt6Cy966qlDKhu6jA
-0aIra_B6iALlfqAriBSYA
-0tgMGl7D9B10YjSN2ujLA
-17CAGmIRBHpPFlWBTDGuw
-1UMR00eXtwaeh59pEiDjA
-1VaIJza42Hjev6ukacCNg
-2A9emZwBK8zYHPnAmM0hw
-2isRNVb6PDuBagELL5EBw
-34vSRcMz_RjN00dWIiQ3Q
-3oxnPPPU3YoxO9M1I2idg
-4TMQnQJW1yd6NqGRDvAeA
-4g68Hwm892_KPUuW5g1_Q
-4w2eZqQJcS-UNuB1lCPFA
-5brzniWtye3w__aEvCaAA
-6h3K1hj0d4DRcZNUtHDuw
-6tvduBzjLI1ISfs3F_qTg
-79cl_yASWXiv7RmzirNxA
-7HB0UjguXW8csOH9svG4Q
-7d3UqQYYcBxbDH2do86sg
-8JaNeG3etLgOVyg2gOIiA
-8QlV3b_9H4BAh6LgMIr1g
-9eNGMp8XiygI8t8QFuFWw
-9nai28tnoylwViuJVrYEQ
-9xZZLLxuQabvBDODqpM-g
-A9sm-E6uQxWTJ_MuyOzFw
-Bdw-5H5C4AYSMGnAvmnzw
-Bo1rsE6Mfn0wdqnIj3GSA
-BrMNg4MbpftOUTjOMVp9g
-BxWyEIQ6wypT-37MzZizQ
-CBZRTYGcksmshymcD5iMA
-CfFjcCcGGDM9MVH_d42RQ
-DaXLvd3M8OACEEuNR-BDQ
-DcE_4T0_iRKGLARmjsjUw
-Dnh48f029YNugtMKkkI-Q
-DrDzpZaMrNnH55ZVyTXRQ
-Du1WSRseqUXbCt_K-D-ww
-F5mm0-YeCI7viSiOwVAAw
-FLnsWAa4AGEW4NgE8Fqew
-FWhwGTP9YsV_5ONgdQ4hg
-FrgepJj0h-OWU1CupUrOQ
-FveSBaantlFExq__ESLcw
-FyfimfMvvOcMT7Cr4q2Aw
-GUi0xyzwT9KJPS0v96dRA
-GpTZfp2qxyV-20Vu9_mBg
-Gy0BAMgRN4sGlY7theqxQ
-H1-IzxW6CXmjhmF5F6iMA
-HO8ejDGgvj_Guw3R6lH1g
-HbTh_spJOeyEbdj4geK2Q
-HfeXGN4O83x8P4rZc-_kQ
-Ht7HiGBox8lS1Y8IPjO8g
-ITj6Pu8Gdw8MmLf0XBEKQ
-IZvuqxekWEvJqDw308daQ
-Iu6EwsbZQZY8HTBN853Iw
-J-d5x84RuyLNiUzOhO_6A
-JwSuDqyFILFJmVpjrVbwA
-JzL9Xkx42k82uKSy3X5Zw
-K3kqmykKlhlB4arCsLHOw
-KIdCJnkt5N8rnnmWR5MQg
-LVpf-mKjrWT51JgCY3gRQ
-Ll4vN947kBXmNxdDjeBCQ
-MKWJZnMjSit406AUKf7Pg
-MUn9i6htSMJUFXxToaBVg
-Ma5JqzuI_3xIAtpNJfQ2g
-MuatiMmslPOvk9kOMyjkA
-NfdQz7Pesvthek59uGl8Q
-OOVJcc1-qOUqI9131u0gw
-Ofk9ELkGJQasOApqJ9lCw
-OjKVujPWqfbQJRg_WcZTg
-Oj_rs84KRFOTtbeQXPB7Q
-OmQXmGomWfJNi449Uh99g
-OuTv9a9_MabQjyiZx2Stw
-PARO4rKPyOBgra18yANYQ
-PJgh1XoQBMnnSgg6MhmMA
-PUPEpMsjBjk_rX5lFaWng
-PbCfkydmvuNcG9VG_ixkQ
-Q8F0KbFIK3m3VeGXoCDEA
-QIQLK8RR6rl7v19cAQQHg
-QgX4QofONhh6XFZ4Zbnvw
-RIWE3MU3GCHM5KIW7PLww
-RN70NJDP02wVcrg5yPO8Q
-RYIKWBSTaJ21B2UMyzI-Q
-TVXOYL6kvKP1uW6ND9PIg
-TWZ4-AM76pUxPIt47mInw
-UM5wXw2scKFW6QHchBL4Q
-UXH_mn5SLip3MMiaGM69g
-Ut87cwGFsO3444Rd11p0Q
-Vk9BMbpL2hcv4SZTuk4TA
-WjQWbAIGyJE4vYJYUZjSQ
-WmQxBr4jsdZs_7RgamNmQ
-Wxje8_M3S-0wIwdub9Kug
-X61Cipa9OOtY7ZnDw_f4A
-X9QS8l7u5R3CswmfZtn-Q
-XW3Peaen5jsnvGRrue_Qw
-Y9woV5m-KaTzu9VpirYyg
-YGePLsJ2pYccR3oaeCSAw